* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: rgb(27, 14, 5);
}

/* Navbar Estilos */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d50080;
  color: white;
  padding: 2rem 4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo:hover {
  color: rgb(27, 14, 5);
  transition: 0.3s;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: rgb(27, 14, 5);
}

/* Responsividade - Media Query */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 10px;
    margin-top: 15px;
  }
}

.cabelo-titulo {
  color: #d50080;
  margin-top: 8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.cabelo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.cabelo-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cabelo-container img:hover {
  transform: scale(1.1);
}

.cabelo-container h2 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.cabelo-container p {
  color: white;
  font-size: 1rem;
  text-align: center;
  max-width: 400px;
}

.cabelo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
