* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: rgb(26, 14, 5);
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.linha-dupla {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;

    /* Espaço entre as colunas */
}

.linha-dupla .campo {
    flex: 1;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campo input,
.campo textarea {
    padding: 12px;
    border: 1px, solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura total */
    transition: border-color 0.3s;
}

.campo input:focus,
.campo textarea:focus {
    border-color: #0066cc;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.3);
}

.formulario button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario button:hover {
    background-color: #0055a3;
}