/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: rgb(0, 0, 0);
}

/* Navbar Estilos */
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d50080b6;
  color: white;
  padding: 2rem 4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo:hover {
  color: rgb(27, 14, 5);
  transition: 0.3s;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: rgb(27, 14, 5);
}

/* Responsividade - Media Query */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 10px;
    margin-top: 15px;
  }
}

.img-salao:hover {
  opacity: 40%;
  transition: 1s;
}

@media (max-width: 900vh) {
  .banner-img img {
    width: 100%;
    height: 45vh;
    vertical-align: top;
    padding-left: 0;
    padding-top: 0;
    opacity: 27%;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
  }

  .img-banner {
    position: absolute;
  }
}

.banner {
  position: relative;
}

.banner-img img {
  width: 100%;
  height: 100%;
  display: block;
}

.txtbanner {
  top: 30%;
  left: 75%;
  position: absolute;
  color: #ffffff;
  z-index: 4;
}

.inicio-txt1 h1,
.inicio-txt2 h1 {
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .txtbanner .inicio-txt1 h1,
  .txtbanner .inicio-txt2 h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .txtbanner .inicio-txt1 h1,
  .txtbanner .inicio-txt2 h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 170vh) {
  .contatos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-right: 2rem;
    flex-direction: column-reverse;
  }

  .contatos p {
    color: white;
    font-size: 0.8rem;
  }

  .contatos img {
    width: 100%;
    max-width: 15px;
  }
}

.inicio-txt1 {
  color: #ffffff;
  font-size: auto;
}

.inicio-txt2 {
  color: white;
  font-size: auto;
}

.serviço-txt {
  position: absolute;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 900px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.servico {
  overflow: hidden;
  background-color: #d50080;
  padding: 1rem 1rem;
  border-radius: 25px 25px 0 0;
}

.botao {
  text-decoration: none;
}

.botao-agendar {
  text-decoration: none;
  margin-top: 0;
  background-color: white;
  color: #d50080;
  border: none;
  border-radius: 25px;
  padding: 20px 40px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.botao-agendar:hover {
  background-color: rgb(10, 5, 2);
}

.botao-agendar:active {
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.botao {
  text-align: center;
  margin-bottom: 3rem;
  cursor: pointer;
  margin-top: 10%;
}

.agendar {
  text-decoration: none;
  color: #d50080;
  font-weight: bold;
}

.agendarfixo,
.agendar:hover {
  color: rgb(255, 255, 255);
}

.agendar:active {
  color: #d50080;
}

.agendarfixo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  z-index: 999;
}

.agendarfixo button {
  position: static;
}

.img-inicio {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0px;
  padding-top: 0;
  padding: 50px;
  justify-content: center;
  align-items: stretch;
  opacity: 0.55;
}

.img-grid1 {
  border-radius: 30px 0 0 30px;
}

.img-grid3 {
  border-radius: 0 30px 30px 0;
}

.img-inicio img {
  max-height: 500px;
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.img-grid1:hover,
.img-grid2:hover,
.img-grid3:hover {
  opacity: 0.33;
  cursor: pointer;
}

@media (max-width: 768px) {
  .img-inicio {
    grid-template-columns: 1fr;
  }

  .img-inicio img {
    height: auto;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 5px #fb99d9;
  }
}

@keyframes neon2 {
  0%,
  100% {
    text-shadow: 0 0 5px #ffffff;
  }
}

/* Container para tornar o mapa responsivo */
.mapa-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2%;
  padding: 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

/* Estilizando o iframe para preencher a div */
.mapa-container iframe {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2%;
  padding: 35px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*.banner-img img {
    width: 100%;
    height: 45vh;
    vertical-align: top;
    padding-left: 0;
    padding-top: 0;
    opacity: 27%;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    */

.contatos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contatos p {
  color: white;
  font-size: 1.5rem;
}

.contatos img {
  width: 100%;
  max-width: 30px;
}

.contatos .zap {
  display: flex;
  justify-content: stretch;
  text-align: left;
  gap: 5px;
}

.contatos .tel {
  display: flex;
  justify-content: stretch;
  text-align: left;
  gap: 5px;
}

.contatos .email {
  display: flex;
  justify-content: stretch;
  text-align: left;
  gap: 5px;
}
