/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: rgb(27, 14, 5);
}

/* Navbar Estilos */
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d50080;
  color: white;
  padding: 2rem 4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo:hover {
  color: rgb(27, 14, 5);
  transition: 0.3s;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: rgb(27, 14, 5);
}

/* Responsividade - Media Query */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 10px;
    margin-top: 15px;
  }
}

.img-salao:hover {
  opacity: 37%;
  transition: 1s;
}

@media (max-width: 900vh) {
  .banner-img img {
    width: 100%;
    height: 45vh;
    vertical-align: top;
    padding-left: 0;
    padding-top: 0;
    opacity: 27%;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
  }

  .img-banner {
    position: absolute;
  }
}

.inicio-txt1 {
  color: #d50080;
  text-align: center;
  margin: 0 auto;
  font-size: auto;
  text-shadow: 0 0 2.5px #ff00a6;
}

.inicio-txt2 {
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: auto;
  margin-bottom: 1%;
}

.serviço-txt {
  color: white;
  text-align: center;
  margin-top: 3.5rem;
  font-size: 1rem;
}

.serviço-txt:hover {
  text-shadow: #ffffff 0px 0px 2.5px;
  transition: 0.3s;
}

.servico {
  overflow: hidden;
  background-color: #d50080;
  padding: 1rem 1rem;
  border-radius: 25px 25px 0 0;
}

.botao {
  text-decoration: none;
}

.botao-agendar {
  text-decoration: none;
  margin-top: 4rem;
  background-color: white;
  color: #d50080;
  border: none;
  border-radius: 25px;
  padding: 20px 40px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.botao-agendar:hover {
  background-color: rgb(27, 14, 5);
}

.botao-agendar:active {
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.botao {
  text-align: center;
  margin-bottom: 3rem;
  cursor: pointer;
}

.agendar {
  text-decoration: none;
  color: #d50080;
  font-weight: bold;
}

.agendar:hover {
  color: rgb(255, 255, 255);
}

.agendar:active {
  color: #d50080;
}

.img-inicio {
  display: grid;
  grid-template-columns: (1fr, 1fr);
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  opacity: 95%;
  margin-bottom: 2.5rem;
}

.img-inicio img {
  width: 100%;
  height: auto;
  /* Garante que a imagem cubra o espaço sem distorcer */
  display: block;
}

.img-grid1 {
  grid-column: 1 / span 2;
  width: 100%;
  max-width: 40vh;
  border-radius: 15px;
}

.img-grid1:hover {
  opacity: 80%;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 5px #fb99d9;
  }
}

@keyframes neon2 {
  0%,
  100% {
    text-shadow: 0 0 5px #ffffff;
  }
}

.img-grid2 {
  width: 100%;
  max-width: 20vh;
  object-fit: cover;
  border-radius: 15px;
}

.img-grid2:hover {
  opacity: 80%;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
}

.img-grid3 {
  width: 100%;
  max-width: 15vh;
  object-fit: cover;
  border-radius: 15px;
}

.img-grid3:hover {
  opacity: 80%;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
}
